<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-5">
      <div class="card ">
        <div class="card-header">
          <h5>Chat List </h5>
        </div>
        <div class="card-body">
          <ngb-tabset>
            <ngb-tab title="Chats">
              <ng-template ngbTabContent>
                <div class="item">
                  <div class="avatar">
                    <img src="../../assets/img/mike.jpg" alt="">
                  </div>
                  <div class="paragragh">
                    <h6>Mike Lawrance Steve</h6>
                    <p>Hey man, How are You?</p>
                  </div>
                  <div class="time">
                    
                    <p><small>12:00</small></p>
                  </div>
                </div>
                <div class="item">
                  <div class="avatar">
                    <img src="../../assets/img/bg5.jpg" alt="">
                  </div>
                  <div class="paragragh">
                    <h6>Will Smith Johnathan</h6>
                    <p>Okay. No Problem</p>
                  </div>
                  <div class="time">
                    
                    <p><small>12:00</small></p>
                  </div>
                </div>
                <div class="item">
                  <div class="avatar">
                    <img src="../../assets/img/mike.jpg" alt="">
                  </div>
                  <div class="paragragh">
                    <h6>Username</h6>
                    <p>Hey man, How are You?, Come here and get me</p>
                  </div>
                  <div class="time">
                    <p><small>12:00</small></p>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Recent">
              <ng-template ngbTabContent>
                <div class="item">
                  <div class="avatar">
                    <img src="../../assets/img/bg5.jpg" alt="">
                  </div>
                  <div class="paragragh">
                    <h6>Will Smith Johnathan</h6>
                    <p>Okay. No Problem</p>
                  </div>
                  <div class="time">
                    
                    <p><small>12:00</small></p>
                  </div>
                </div>
                <div class="item">
                  <div class="avatar">
                    <img src="../../assets/img/mike.jpg" alt="">
                  </div>
                  <div class="paragragh">
                    <h6>Username</h6>
                    <p>Hey man, How are You?, Come here and get me</p>
                  </div>
                  <div class="time">
                    <p><small>12:00</small></p>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Contacts">
              <ng-template ngbTabContent>
                <div class="item">
                  <div class="avatar">
                    <img src="../../assets/img/mike.jpg" alt="">
                  </div>
                  <div class="paragragh">
                    <h6>Mike Lawrance Steve</h6>
                    <p>Hey man, How are You?</p>
                  </div>
                  <div class="time">
                    
                    <p><small>12:00</small></p>
                  </div>
                </div>
                <div class="item">
                  <div class="avatar">
                    <img src="../../assets/img/bg5.jpg" alt="">
                  </div>
                  <div class="paragragh">
                    <h6>Will Smith Johnathan</h6>
                    <p>Okay. No Problem</p>
                  </div>
                  <div class="time">
                    
                    <p><small>12:00</small></p>
                  </div>
                </div>
                <div class="item">
                  <div class="avatar">
                    <img src="../../assets/img/mike.jpg" alt="">
                  </div>
                  <div class="paragragh">
                    <h6>Username</h6>
                    <p>Hey man, How are You?, Come here and get me</p>
                  </div>
                  <div class="time">
                    <p><small>12:00</small></p>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card ">
        <div class="card-header">
          <h5>Messages</h5>
        </div>
        <div class="card-body">
          <div class="messages"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box"> 
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

    <links class="topnav">
  
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
          </form>

     
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Chat<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Recent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Contacts</a>
        </li>
  
      </ul>
     
    </links>
  </mdb-navbar>
</div>
<div class="body">
    
    
        <div class="write-message">
          <textarea placeholder="Message" name="" [(ngModel)]="msg" id="" cols="60"></textarea>
        <div class="btn">
          <ion-button shape="round" (click)="sendReply()" expand="outline" color="medium" >send response</ion-button>
        </div>
        </div>

</div> 